/* Whole body attributes */
body {
    font-family: Fuzzy Bubbles, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* This helped push the footer down */
    /* row-gap: 50px; */
    align-items: center;
    background-color: #112642;
    margin-left: 5%;
    margin-right: 5%;
}

* {
    margin: 0px;
    padding: 0px;
    /*border: 2px solid red;*/
}

/* Headings */
.headings {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em;
}

h1,
h2 {
    font-weight: 900;
    color: #ecefed;
    font-style: italic;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* Play button */
.play-button {
    min-height: 10vh;
    min-width: 20vh;
    border: none;
    border-radius: 0.8rem;
    background-color: #dd2b23;
    color: #ecefed;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    /* make sure the transition time in CSS matches the setTimeout in JS */
    transition: all 0.1s;
}

.scale-up {
    transform: scale(1.3);
    border-color: #dd2b23;
    box-shadow: 0 0 10px #dd2b23;
}

/* Game section border */
.game-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-color: #dd2b23;
    border-width: 0.1rem;
    border-radius: 0.8rem;
}

/* Scoreboard */
.scoreboard {
    display: flex;
    justify-content: space-around;
}

.scoreboard-text {
    background-color: #dd2b23;
    font-size: 1.3rem;
    color: #ecefed;
    padding: 0.5em;
    margin: 1em;
}

/* User and computer choice display */
.choice-icons {
    display: flex;
    justify-content: space-around;
}

.user-choice,
.computer-choice {
    width: 15vh;
    height: 15vh;
    margin: 1em;
}

/* RPS buttons */
.rps-wrapper {
    display: flex;
    justify-content: space-around;
}

.rps-button {
    width: 15vh;
    height: 15vh;
    margin: 1em;
}

/* Game outro */
.game-score {
    font-size: 2em;
    align-self: center;
    margin: 1em;
}

.restart-game {
    align-self: center;
    min-height: 10vh;
    min-width: 20vh;
    border: none;
    border-radius: 0.8rem;
    background-color: #dd2b23;
    color: #ecefed;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    margin: 1em;
}

/* Footer */
footer {
    display: flex;
    margin: 1em;
    flex-direction: column;
    align-items: center;
    color: #ecefed;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Hide class, for game sections */
.hide {
    display: none;
}